@{
    PageData["title"] = "Customer API";
}
<h2>Customer API</h2>
<p>&nbsp; </p>

<div class="row" ng-controller="CustomerAPI">
   
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-inline">
                <label for="CustomerID">Get Customer Group: </label> <br />
                <input type="text" class="form-control" style="width:190px" id="CustomerGroupID" placeholder="Enter Customer Group ID:" ng-model="getID" ng-keypress="keyEnter($event)">
                <button type="button" class="btn btn-info" ng-click="getAPI()">Submit</button> 

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-inline">

                <label for="CustomerID">Update Customer Group: </label> <br />
                <input type="text" class="form-control" style="width:190px" id="CustomerGroupID" placeholder="Enter Customer Group ID" ng-model="updateID" ng-keypress="keyEnter($event)">
                <button type="button" class="btn btn-info" ng-click="updateAPI(updateID)">Submit</button>

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-inline">

                <label for="CustomerID">Add Customer Group: </label> <br />
                <button type="button" class="btn btn-info" ng-click="updateAPI(0)">Add Record</button>

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-inline">

                <label for="CustomerID">Delete Customer: </label> <br />
                <input type="text" class="form-control" style="width:190px" id="CustomerGroupID" placeholder="Enter Customer Group ID" ng-model="deleteID" ng-keypress="keyEnter($event)">
                <button type="button" class="btn btn-danger" ng-click="deleteAPI()">Submit</button>

            </div>
        </div>
    </div>


    <div ng-show="action ==='G'">
        <table class="table-responsive table table-striped table-bordered table-hover ">
            <thead>
                <tr ng-show="!details[0]">
                    <td colspan="7">  {{Message}}</td>
                </tr>
                <tr ng-show="details[0]">
                    <th class="col-xs-1">ID</th>
                    <th class="col-xs-2">Name</th>
                    <th class="col-xs-2">Description</th>
                    <th class="col-xs-2">Minimum Order</th>
                    <th class="col-xs-2">Registration Message</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="u in details" >
                    <td class="col-xs-1">{{u.CustomerGroupID}}</td>
                    <td class="col-xs-1">{{u.Name}}</td>
                    <td class="col-xs-2 cap">{{u.Description}}</td>
                    <td class="col-xs-2 cap">{{u.MinimumOrder}}</td>
                    <td class="col-xs-2 strong">{{u.RegistrationMessage}}</td>

                </tr>
                <tr ng-repeat-end="" ></tr>
            </tbody>
        </table>

    </div><!--/row-->
    <br /><br />
    <div ng-show="action ==='U'">
        <table class="table-responsive table table-striped table-bordered table-hover ">
            <thead>
                <tr ng-show="!details[0]">
                    <td colspan="7">  {{Message}}</td>
                </tr>
                <tr ng-show="details[0]">
                    <th class="col-xs-1" ng-show="details[0].CustomerGroupID>0">ID</th>
                    <th class="col-xs-2">Name</th>
                    <th class="col-xs-2">Description</th>
                    <th class="col-xs-2">Minimum Order</th>
                    <th class="col-xs-2">Registration Message</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="u in details">
                    <td class="col-xs-1" ng-show="u.CustomerID>0">{{u.CustomerGroupID}} </td>
                    <td class="col-xs-1" cap><input type="text" class="form-control" ng-model="u.Name" /></td>
                    <td class="col-xs-2 cap"><input type="text" class="form-control" ng-model="u.Description"></td>
                    <td class="col-xs-2 strong"><input type="text" class="form-control" ng-model="u.MinimumOrder"></td>
                    <td class="col-xs-2"><input type="text" class="form-control" ng-model="u.RegistrationMessage"></td>
                    <td class="col-xs-1"><button type="button" class="btn btn-success" ng-click="saveAPI(u.CustomerGroupID)">Save</button> </td>

                </tr>
                <tr ng-repeat-end=""></tr>
            </tbody>
        </table>

    </div><!--/row-->
    <br /><br />
    <div ng-show="action ==='D'">
        {{details}}
    </div>
</div>